<ion-content>
    <div>
        <img src="../../assets/images/icon.png" style="margin-top: 50px; margin-left: 41%; width: 70px; height: 70px;"
            alt="">
    </div>
    <div>
        <h1 style="text-align: center; font-size: 17px; margin-bottom: 50px; color: #737373; font-weight: 600;">{{ title }}</h1>
    </div>
    <div style="margin-left: 15px; margin-right: 15px; margin-bottom: 30px; text-align: center;">
        {{ body }}
    </div>
    <ion-button (click)="closeButton()" style="margin-left: 40%;">Close</ion-button>
</ion-content>