<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
        <ion-icon style="width: 20px; height: 20px; margin-left: 5px;" name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-title text-center style="margin-right: 15px; font-size: 15px;">Add New Category</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <div class="body">
        <div text-center>
            <ion-button (click)="showallCategories()" color="primary" fill="clear">{{view}}</ion-button>
        </div>
        <div class="all" *ngIf="showCat">
            <ion-item *ngFor="let item of Allcategories.categories" text-center>{{item.name}}</ion-item>
        </div>
        <form [formGroup]="form">
            <ion-list>
                <div formArrayName="categories" margin-bottom>
                    <section [formGroupName]="i" *ngFor="let tech of form.get('categories')['controls']; let i = index">
                        <ion-item-group>
                        <ion-item-divider style="font-size: 15px; color: #737373;" color="light">Category #{{ i + 1 }}</ion-item-divider>
                            <ion-item>
                                <ion-input placeholder="Enter category here" type="text" maxlength="50" formControlName="name">
                                </ion-input>
                            </ion-item>

                            <!-- Allow generated input field to be removed -->
                            <span style="margin-top: 3px;" float-right ion-button icon-left clear (click)="removeInputField(i)">
                                <ion-icon style="width: 20px; height: 20px;" name="close" color="danger"></ion-icon>
                                <!-- Remove -->
                            </span>
                        </ion-item-group>
                    </section>
                </div>

                <!-- Allow new input field to be generated/added -->
                <span ion-button float-left icon-left clear (click)="addNewInputField()" style="margin-top: -12px;">
                    <ion-icon style="width: 20px; height: 20px;" name="add" size="large" color="primary"></ion-icon>
                </span>
            </ion-list>
            <ion-button class="submit" expand="block" color="primary" text-center [disabled]="!form.valid" (click)="manage(form.value)">
                Submit
            </ion-button>
        </form>


    </div>
</ion-content>