<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons (click)="close()" slot="start" style="margin-left: 10px;">
            <ion-icon name="arrow-back" size="small"  style="width: 20px; height: 20px;"></ion-icon>
        </ion-buttons>
        <ion-title text-center>Create Post</ion-title>
        <ion-buttons slot="end" style="margin-right: 0px;">
            <ion-button style="font-size: 13px;" (click)="post()">Post</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content>
    
    <ion-buttons style="margin-left: 5px; margin-top: 3px;">
        <ion-chip style="background-color: #f7f7f7;"> 
            <ion-avatar><img src="{{userLogo}}"></ion-avatar>
            <ion-label style="color: var(--ion-color-primary);">{{userName}}</ion-label>
        </ion-chip>
    </ion-buttons>


    <!-- TEXT AREA -->
    <div style="background-color: #f7f7f7; margin-right: 10px; margin-left: 10px; margin-top: 10px; color: #737373; font-size: 13px; margin-bottom: 10px;">
        <ion-textarea [(ngModel)]="postText" placeholder="What is happening at your shop ?" rows="6"></ion-textarea>
    </div>

    <!-- DISPLAYING IMAGES -->
    <ion-slides pager="true" [options]="slideOpts" style="margin-bottom: 10px;">
        <ion-slide *ngFor="let img of images">
            <img [src]="img" style="width: 50%; height: 200px; margin: auto;">
        </ion-slide>
    </ion-slides>

    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let vid of videos">
            <video  controls src="{{vid}}" width="100%" height="200px"></video>
        </ion-slide>
    </ion-slides>

</ion-content>


<!-- FOOTER -->
<ion-footer>
    <ion-item>
        <ion-label style="font-size: 14px; color: #737373;" (click)="actionSheet()">Add media to your post</ion-label>
        <ion-icon style="width: 20px; height: 20px;" (click)="pickFile('image')" name="image" slot="end" color="primary"></ion-icon>&nbsp;
        <!-- <ion-icon style="width: 20px; height: 20px;" (click)="pickFile('video')" name="videocam" slot="end" color="primary"></ion-icon> -->
    </ion-item>
</ion-footer>
