
.passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
 }

 ion-list{
     background: transparent;
     ion-row {
        background: transparent !important;
      }
     
 }
 ion-item{
     border-radius: 20px ;
 }
 