ion-title {
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}
.body{
    background-color: transparent;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.label {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--ion-color-primary);
    margin-bottom: 15px;
}
.container{
    margin-top: 30px;
}
