.body{
    color: var(--ion-color-medium);
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: max-content;
    padding-bottom: 50px;
    margin-bottom: 0px;
    margin-top: 30px;
}
.title{
    font-weight: bold;
    font-size: 1.4em;
}
.image{
    object-fit: contain;
    width: 80%;
    height: 80%;
    float: right;
}
.right{
    font-size: 2.0em;
}
.edits {
    font-weight: bold;
    color: var(--ion-color-secondary);
}
.create{
    font-size: 1.9em;
    padding-right: 10px;
    padding-top: 10px;
}
ion-input{
    border: 1px solid var(--ion-color-medium);
    width: 100%;
}
ion-label{
    padding-top: 10px;
}
textarea{
    border: 1px solid var(--ion-color-medium);
    width: 100%;
}