<ion-content color="primary" style="background-color: var(--ion-color-primary);">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon style="width: 20px; height: 20px; margin-left: 5px;" name="arrow-back" (click)="back()">
            </ion-icon>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-icon style="width: 20px; height: 20px; padding-right: 5px;" name="trash" (click)="confirmDelete(product.id)"></ion-icon>
        </ion-buttons>

        <!-- <ion-buttons slot="end" (click)="edit = true" *ngIf="edit == false">
            <ion-icon style="width: 20px; height: 20px; margin-right: 5px;" name="create"></ion-icon>
        </ion-buttons>

        <ion-buttons slot="end"(click)="edit = false" *ngIf="edit == true" >
            <ion-icon style="width: 20px; height: 20px; margin-right: 5px;" name="close"></ion-icon>
        </ion-buttons> -->
        <ion-buttons *ngIf="product !== undefined">
            <ion-title class="ion-text-center" *ngIf="product.product !== null">{{product.product}}</ion-title>
            <ion-title class="ion-text-center" *ngIf="product.Meal !== undefined">{{product.Meal}}</ion-title>
        </ion-buttons>

    </ion-toolbar>





    <div class="body">     
        <div style="margin-top: 40%;text-align: center;" *ngIf="!view">
            <ion-spinner name="circles" color="primary"></ion-spinner>
        </div>
        <div *ngIf="view">
            <!-- RESTAURANT -->
            <div *ngIf="shopType === 'food'" style="margin-top: 30px;">
                <form [formGroup]="restaurantForm">
                    <div class="details">
                        <ion-item>
                            <ion-label position="floating">Meal</ion-label>
                            <ion-input style="font-size: 13px; color: #737373;" *ngIf="product.Meal !== undefined " [readonly]="!edit" formControlName="Meal"
                                value="{{product.Meal}}"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Category</ion-label>
                            <ion-input style="font-size: 13px; color: #737373;" *ngIf="!edit" readonly formControlName="category" value="{{product.category}}">
                            </ion-input>
                            <ion-select style="font-size: 14px; color: #737373;" formControlName="category" *ngIf="edit"
                                placeholder="{{product.category}}">
                                <ion-select-option style="font-size: 13px; color: #737373;"
                                    *ngFor="let item of category.categories">{{item}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Current price</ion-label>
                            <ion-input style="font-size: 13px; color: #737373;" [readonly]="!edit" formControlName="currentprice" value="{{product.currentprice}}">
                            </ion-input>
                        </ion-item>
                    </div><br><br><br><br>
                    <div style="position: fixed;bottom: 10px;width: 100%;">
                        <ion-button *ngIf="!edit" expand="full" (click)="edit = true">
                            Edit
                        </ion-button>
                        <ion-button *ngIf="edit" expand="full" shape="block" (click)="updateRestaurant(product.id)">
                            Save Changes
                        </ion-button>
                    </div>
                </form>
            </div>

            <!-- RECIPES -->
            <div *ngIf="shopType === 'recipes'">
                <form [formGroup]="recipesForm">
                    <div style="padding-left: 40px;padding-right:40px ;padding-top: 20px;">
                        <img [src]="product.image" width="100%" alt="product image" height="150px"
                            *ngIf="product.image !== undefined">
                        <img src="../../assets/images/image-placeholder.png" width="100%" alt="product image" height="200px"
                            *ngIf="product.image === undefined">
                    </div>
                    <div class="details">
                        <ion-item>
                            <ion-label position="floating">Category</ion-label>
                            <ion-input style="font-size: 13px; color: #737373;" *ngIf="!edit" readonly formControlName="category" value="{{product.category}}">
                            </ion-input>
                            <ion-select style="font-size: 14px; color: #737373;" formControlName="category" *ngIf="edit"
                                placeholder="{{product.category}}">
                                <ion-select-option style="font-size: 13px; color: #737373;"
                                    *ngFor="let item of category.categories">{{item}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Current price</ion-label>
                            <ion-input style="font-size: 13px; color: #737373;" [readonly]="!edit" formControlName="currentprice" value="{{product.currentprice}}">
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Ingridients</ion-label>
                            <ion-textarea rows="7" style="font-size: 13px; color: #737373;" value="{{product.ingridients}}" [readonly]="!edit" formControlName="ingridients"></ion-textarea>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Person</ion-label>
                            <ion-input style="font-size: 13px; color: #737373;" [readonly]="!edit" formControlName="persons" value="{{product.persons}}">
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Recipe</ion-label>
                            <ion-input style="font-size: 13px; color: #737373;" [readonly]="!edit" formControlName="recipe" value="{{product.recipe}}">
                            </ion-input>
                        </ion-item>
                    </div><br><br><br><br>
                    <div style="position: fixed;bottom: 10px;width: 100%;">
                        <ion-button *ngIf="!edit" expand="full" (click)="edit = true">
                            Edit
                        </ion-button>
                        <ion-button *ngIf="edit" expand="full" shape="block" (click)="updateRecipes(product.id)">
                            Save Changes
                        </ion-button>
                    </div>
                </form>
            </div>


            <!-- SHOP -->
            <div *ngIf="shopType === 'Shops'">
                <form [formGroup]="shopForm">
                    <div style="padding-left: 40px;padding-right:40px ;padding-top: 20px;">
                        <img [src]="product.image" width="100%" alt="product image" height="150px"
                            *ngIf="product.image !== undefined">
                        <img src="../../assets/images/image-placeholder.png" width="100%" alt="product image" height="200px"
                            *ngIf="product.image === undefined">
                    </div>
                    <div class="details">
                        <ion-item>
                            <ion-label position="floating">Product</ion-label>
                            <ion-input style="font-size: 13px; color: #737373;" *ngIf="product.product !== null" [readonly]="!edit" formControlName="product"
                                value="{{product.product}}"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Category</ion-label>
                            <ion-input style="font-size: 13px; color: #737373;" *ngIf="!edit" readonly formControlName="category" value="{{product.category}}">
                            </ion-input>
                            <ion-select style="font-size: 14px; color: #737373;" formControlName="category" *ngIf="edit"
                                placeholder="{{product.category}}">
                                <ion-select-option style="font-size: 13px; color: #737373;"
                                    *ngFor="let item of category.categories">{{item}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Stock</ion-label>
                            <ion-input style="font-size: 13px; color: #737373;" [readonly]="!edit" formControlName="stock" value="{{product.stock}}">
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Quantity</ion-label>
                            <ion-input style="font-size: 13px; color: #737373;" [readonly]="!edit" formControlName="quantity" value="{{product.quantity}}">
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Current price</ion-label>
                            <ion-input style="font-size: 13px; color: #737373;" [readonly]="!edit" formControlName="currentprice" value="{{product.currentprice}}">
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Description</ion-label>
                            <ion-textarea rows="7" style="font-size: 13px; color: #737373;" value="{{product.description}}" [readonly]="!edit" formControlName="description"></ion-textarea>
                        </ion-item>
                    </div><br><br><br><br>
                    <div style="position: fixed;bottom: 10px;width: 100%;">
                        <ion-button *ngIf="!edit" expand="full" (click)="edit = true">
                            Edit
                        </ion-button>
                        <ion-button *ngIf="edit" expand="full" shape="block" (click)="updateShop(product.id)">
                            Save Changes
                        </ion-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>