.body{
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    bottom: 0px;
    top: 150px;
    margin-bottom: 0px;
    background-color: white;
}

.card-main {
    background-color: white;     
    color: var(--ion-color-medium);
    background-color: white; 
    border-radius: 20px 20px 0px 0px;
    width: 100%; 
    position: fixed; 
    bottom: 0px; 
    top: 100px; 
    overflow-y:scroll;
}
.edit{
    font-size: 1.5em;
    float: right;
}
ion-card{
    margin-top: 0px;
}
.banner{
    background-color: white;
    ion-text{
        color: darken($color: #000000, $amount: 0);
    }
    ion-label{
        font-size: 1.5em;
        font-weight: bold;
    }

}
ion-avatar{
    ion-icon{
        object-fit: contain;
        width: 50%;
        height: 50%;
    }
}
.chartlabel{
    height: 50%;
    font-weight: bold;
    
}
.leads{
    margin-top: 20px;
}
ion-select{
    color: var(--ion-color-primary);
}