<ion-header [hidden]="hiddenHeader">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title text-center>Konnect</ion-title>
        <ion-searchbar placeholder="Search for a shop " animated type="text" *ngIf="showSearch"></ion-searchbar>
        <ion-buttons slot="end">
            <ion-button (click)="openPostModal()">
                <ion-icon style="width: 23px; height: 23px;" name="add-circle-outline" size="small"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">


    <div class="page-content">
        <div style="margin-left: 5px; margin-right: 5px;">
            <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search for a shop " (ionChange)="searchShop()">
            </ion-searchbar>
        </div>

        <ion-card class="card" *ngFor="let item of Posts">
            <div class="header">
                <div class="image" (click)="infoModal('Kakila Organic')">
                    <ion-avatar>
                        <img src="{{item.logo}}">
                    </ion-avatar>
                </div>
                <div class="name" (click)="infoModal(item)">
                    {{item.shop.slice(0, 12)}}
                </div>
                <div class="date">
                    {{item.time.toDate() | date}}
                </div>
            </div>
            
            <!-- DESCRIPTION -->
            <p class="description">
                {{item.Text}}
            </p>

            <!-- MAIN IMAGE -->
            <div class="main-image">
                <ion-slides>
                    <ion-slide *ngFor="let n of item.Images">
                        <img src="{{n}}" (click)="showImage(n)">
                    </ion-slide>
                    <ion-slide *ngFor="let v of item.Videos">
                        <img src="{{v}}" (click)="showImage(n)">
                    </ion-slide>
                </ion-slides>

            </div>

            <!-- LIKE, COMMENT AND SHARE -->
            <div class="like-comment-share">
                <ion-row>
                    <ion-col size="4">
                        <ion-button fill="light" (click)="like(item)">
                            <ion-icon [ngClass]="{'color': item.liked === true}" size="large" src="../../assets/images/heart.svg">
                            </ion-icon>
                            &nbsp;&nbsp;<span class="ion-text-lowercase">{{item.likes}}</span>
                        </ion-button>
                    </ion-col>
                    <ion-col size="4">
                        <ion-button fill="light" (click)="comments(item.id)">
                            <ion-icon size="large" src="../../assets/images/comment.svg"></ion-icon>
                            &nbsp;&nbsp;<span class="ion-text-lowercase">{{item.comments}}</span>
                        </ion-button>
                    </ion-col>
                    <ion-col size="4">
                        <ion-button fill="light" (click)="share(item)">
                            <ion-icon style="width: 14.5px; padding-right: 0px;" size="large"
                                src="../../assets/images/share.svg"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </div>

            <div class="line"></div>

            <!-- LAST USER COMMENT -->
            <div class="user-comment" *ngIf="item.usersComments == 0">

                <div class="user-avatar">
                    <ion-avatar>
                        <img src="{{item.lastComment.userLogo}}">
                    </ion-avatar>
                </div>
                <div class="user-name-and-date">
                    <div class="name">{{item.lastComment.userName}}</div>
                    <!-- <div class="date">10 mins ago</div> -->
                    <!-- <div class="date">{{item.lastComment.time.toDate() | date}}</div> -->
                </div>

                <div class="comment-container">
                    <p class="comment">
                        {{item.lastComment.Text}}
                    </p>
                    <div class="view-all-comments" (click)="comments(item.id)">View all comments</div>
                </div>

            </div>
        </ion-card><br>
        <!-- END OF FIRST SOKO POST -->
    </div>
    <!-- END OF SOKO POST -->

</ion-content>