<div style="height: 10px;width: 100%;"></div>
  <ion-card style="border-radius: 10px;" >
    <ion-row>
      <ion-chip><ion-avatar><img src="../../assets/images/icon.png"></ion-avatar>
        <ion-label>You</ion-label>
      </ion-chip>
      <ion-input (click)="openPostModal()" type="text" clearInput required [(ngModel)]="post" placeholder="Enter a new post"></ion-input>
    </ion-row>
    <ion-item class="ion-text-center">
      <ion-buttons slot="start" (click)="pickFile(image)">
      <ion-icon name="image"></ion-icon>&nbsp;&nbsp;
      <ion-label >Image</ion-label>
    </ion-buttons>
    <b style="margin-left: 45%;">|</b>
      <ion-buttons slot="end" (click)="pickFile(video)">
      <ion-icon name="videocam" ></ion-icon>&nbsp;&nbsp;
      <ion-label>video</ion-label>
    </ion-buttons>
    </ion-item>
  </ion-card>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">

  <ion-card >
    <ion-card-header>
        <ion-chip (click)="infoModal(shop)">
          <ion-avatar><img src="../../assets/images/icon.png"></ion-avatar>
          <ion-label>QuickMatt</ion-label>
        </ion-chip>
        1 hr . <ion-icon name="globe"></ion-icon>
    </ion-card-header>
    <ion-card-content no-padding>
      <img width="100%" src="../../assets/images/ad.jpg">
      <ion-text>
        Mega discounts this friday .
      </ion-text>
    </ion-card-content>
    <ion-item style="margin-left:0;margin-right:0;">
        <ion-icon [ngClass]="{'color': h}" (click)="like()" size="large" name="heart"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-icon  (click)="Addcomment = true" size="large" name="chatboxes"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-icon  (click)="share()" name="share-alt" size="large"></ion-icon>
       
      </ion-item>
      <div >
        <ion-label padding>{{likes.count}} likes</ion-label><br>
        <div>
            <ion-item >
                <ion-chip><ion-avatar ><img src="../../assets/images/icon.png"></ion-avatar>
                  <ion-label>1 hr .</ion-label>
                </ion-chip>
              <ion-col>
                <ion-label style="font-size: 11pt;">Joseph</ion-label>
                <ion-text style="font-size: 10pt;">We are very pleased with the turn up this week. looking forward to set out another mega sale discount</ion-text><br>
              </ion-col>
            </ion-item>
            <div *ngIf="Addcomment">
                <ion-item >
                    <ion-avatar ><img src="../../assets/images/icon.png"></ion-avatar>&nbsp;&nbsp;
                    <ion-textarea name="text" required placeholder="Add a comment..."></ion-textarea>
                    <a >Post</a>
                </ion-item>
            </div>
        </div>
        <a padding (click)="comments()">view all comments</a>
      </div>
  </ion-card>
  <ion-card >
    <ion-card-header>
        <ion-chip (click)="infoModal(shop)">
          <ion-avatar><img src="../../assets/images/icon.png"></ion-avatar>
          <ion-label>QuickMatt</ion-label>
        </ion-chip>
        1 hr . <ion-icon name="globe"></ion-icon>
    </ion-card-header>
    <ion-card-content no-padding>
      <img width="100%" src="../../assets/images/ad.jpg">
      <ion-text>
        Mega discounts this friday .
      </ion-text>
    </ion-card-content>
    <ion-item style="margin-left:0;margin-right:0;">
        <ion-icon [ngClass]="{'color': h}" (click)="like()" size="large" name="heart"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-icon  (click)="Addcomment = true" size="large" name="chatboxes"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-icon  (click)="share()" name="share-alt" size="large"></ion-icon>
       
      </ion-item>
      <div >
        <ion-label padding>{{likes.count}} likes</ion-label><br>
        <div>
            <ion-item >
                <ion-chip><ion-avatar ><img src="../../assets/images/icon.png"></ion-avatar>
                  <ion-label>1 hr .</ion-label>
                </ion-chip>
              <ion-col>
                <ion-label style="font-size: 11pt;">Joseph</ion-label>
                <ion-text style="font-size: 10pt;">We are very pleased with the turn up this week. looking forward to set out another mega sale discount</ion-text><br>
              </ion-col>
            </ion-item>
            <div *ngIf="Addcomment">
                <ion-item >
                    <ion-avatar ><img src="../../assets/images/icon.png"></ion-avatar>&nbsp;&nbsp;
                    <ion-textarea name="text" required placeholder="Add a comment..."></ion-textarea>
                    <a >Post</a>
                </ion-item>
            </div>
        </div>
        <a padding (click)="comments()">view all comments</a>
      </div>
  </ion-card>
</ion-content>
