
a{
text-decoration: none;
}
.color {
    color: #3880ff ;
}
ion-card{
    margin-right: 0px;
    margin-left: 0px;
}
.img{
  width: 100%;
}
.top-card{
  border-bottom: 5px var(--ion-color-secondary);
  margin-top: 0px;
  padding-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}