<ion-header style="background-color: #00ade5;">
    <ion-toolbar color="primary" >
        <ion-buttons (click)="close()" slot="start">
          <ion-icon name="arrow-back" size="large"></ion-icon>
        </ion-buttons>
        <ion-title>Update Profile Information</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    

    <div style="margin-top: 20px ;">
        <ion-card>
          <ion-item>
              <ion-label>Shop Name :</ion-label>
              <ion-input type="text" placeholder="{{profile.shop}}" [(ngModel)]="profile.shop"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="Email">Email</ion-label>
              <ion-input type="email" placeholder="{{profile.Email}}" [(ngModel)]="profile.Email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label >Contact :</ion-label>
              <ion-input type="text" placeholder="{{profile.Contacts}}" [(ngModel)]="profile.Contacts"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label >Location :</ion-label>
              <ion-input type="text" placeholder="{{profile.Location}}" [(ngModel)]="profile.Location"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label >Open hours :</ion-label>
              <ion-input type="text" placeholder="{{profile.Open}}" [(ngModel)]="profile.Open"></ion-input> To
              <ion-input type="text" placeholder="{{profile.Close}}" [(ngModel)]="profile.Close"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Website :</ion-label>
              <ion-input type="text" placeholder="{{profile.Website}}" [(ngModel)]="profile.Website"></ion-input>
          </ion-item>
        
        </ion-card>
        <ion-button expand="block" shape="round" (click)="save()">Save</ion-button>
        </div>
</ion-content>
