.card-main{
    color: var(--ion-color-medium);
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    top: 100px;
    overflow-y:scroll;
}
ion-slides {
    width: fit-content ;
    img {
        width: fit-content;
        height: 100%;
    }
}
ion-select{
    color: var(--ion-color-primary);
}
.loader {
    text-align: center;
    margin-top: 40%;
}
.body{
    color: #737373;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    top: 10%;
    overflow-y:scroll;
    // height: 10000px;
    margin-bottom: 0px;
    // margin-top: 40px;
}
.buttons{
    margin-top: 30px;
    // padding-top: 60%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.title{
    font-weight: bold;
    font-size: 1.1em;
}
.image{
    object-fit: contain;
    width: 50%;
    height: 50%;
    float: right;
}
ion-thumnail{
    width: 100%;
    height: 100%;
    img{
        object-fit: contain;
        object-position: center;
    }
}
.asc{
    button {
        color: var(--ion-color-primary);
        
    }
    background-color: var(--ion-color-primary);
}

