ion-card {
    border-radius:10px 10px 0px 0px;
    background-color: #3880ff;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    margin-bottom: 0px;
    text-shadow: 2px 2px 5px #3881f3;
    height: 200px;
}
ion-slides {
    width: fit-content ;
    img {
        width: fit-content;
        height: 100%;
    }
}

ion-spinner {
    position: absolute;
    top: 40%;
    left: 45% ;
}
