.title {
    font-family: Mermaid;
    color:#fff;
    font-size: 25px;
}

.passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
 }
  ion-item{
     border-radius: 10px ;
     padding: auto;
 }
 ion-list{
     background: transparent;
     border: none;
     
 }
 a{
    color: var(--ion-color-light);
    text-decoration: none;
    font-weight: bold;
 }