.title {
    font-family: Mermaid;
    // margin-bottom: 10%;
    color:#fff;
    font-size: 25px;
}

.passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
 }
  ion-item{
     border-radius: 10px ;
     padding: auto;
 }
 ion-list{
     background: transparent;
     border: none;
     
 }
 a{
     color : #3880ff
 }