<!-- <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="back()">
      <ion-icon size="large" color="primary" name="close"></ion-icon>
    </ion-button>
</ion-buttons>
<ion-title text-center>
  
</ion-title>
</ion-toolbar> -->
<ion-content >
    
  <div style="background-color: var(--ion-color-primary);height: 100%;">
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col class="center">
            <h4 class="title" >
                SIGN UP
              </h4>
          <form style="margin-top: 10%;" [formGroup]="registerForm">
         
          <ion-list class="" >
            <ion-item text-wrap>
                <ion-icon name="person" slot="start" size="small"></ion-icon>
                <ion-input clearInput  type="text"  name="name" formControlName="name" required placeholder="Shop name" >
                </ion-input>
            </ion-item>
          </ion-list>
          <ion-list class="" >
              <ion-item text-wrap>
                  <ion-icon name="call" slot="start" size="small"></ion-icon>
                  <ion-input clearInput  type="tel"  name="contact" formControlName="contact" required placeholder="Contact" >
                  </ion-input>
              </ion-item>
            </ion-list>
            <ion-list class="" no-lines>
                <ion-item text-wrap>
                    <ion-icon name="mail" slot="start" size="small"></ion-icon>
                    <ion-input   type="email"  name="email" formControlName="email" required placeholder="Email Address" >
                    </ion-input>
                </ion-item>
              </ion-list>
            <ion-list class="" no-lines>
                  <ion-item text-wrap>
                      <ion-icon name="pin" slot="start" size="small"></ion-icon>
                      <ion-input   type="search"  name="location" formControlName="location" required placeholder="Location" >
                      </ion-input>
                  </ion-item>
            </ion-list>
            <ion-list class="" no-lines>
                <ion-item text-wrap>
                    <ion-icon name="time" slot="start" size="small"></ion-icon>
                    <ion-input placeholder="Open"  name="openStart" formControlName="openStart" required ></ion-input> And
                    <ion-input placeholder="Close" type="text"  name="openStop" formControlName="openStop" required slot="end"></ion-input>
                </ion-item>
                
              </ion-list>
              <ion-list class="" no-lines>
                  <ion-item text-wrap>
                      <ion-icon name="globe" slot="start" size="small"></ion-icon>
                      <ion-input   type="url"  name="website" formControlName="website" required placeholder="Website" >
                      </ion-input>
                  </ion-item>
                </ion-list>
          <ion-list class="" no-lines>
            <ion-item text-wrap>
                <ion-icon name="lock" slot="start" size="small"></ion-icon>
                <ion-icon slot="end" [name]="passwordIcon" (click)='hideShowPassword()' size="small"></ion-icon>
                <ion-input  [type]="passwordType" clearOnEdit="false" type="password"  name="password" formControlName="password" required placeholder="********" >
                </ion-input>
            </ion-item>
          </ion-list>

          <div class="form-group" style="margin-top: 20px;">
              <ion-button expand="full" shape="round" [disabled]="!registerForm.valid" (click)="register()" color="primary" >Sign Up</ion-button>
          </div>
          <div text-center style="background-color: var(--ion-color-primary);color: white;">
            Have an account ?<br/><a routerLink="/tabs/login" class="link">Login</a>
          </div>
        </form>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>