<ion-content>
  <ion-toolbar color="primary" padding>
    <ion-buttons>
      <ion-icon slot="start" name="arrow-back" (click)="back()"></ion-icon>
      <ion-title text-center>{{OrderID}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
  <div class="body">
    <ion-label style="color: var(--ion-color-primary);font-size: 1.5rem;padding-top:10px;padding-bottom: 10px;">Ordered by {{username}}</ion-label>
    <ion-icon name="call" (click)="callCustomer()" style="float: right;font-size: 1.5em;" color="success"></ion-icon>
    <ion-row  class="top" padding>
      <ion-col>
        Product
      </ion-col>
      <ion-col>
        Price
      </ion-col>
      <ion-col>
        Quantity
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of products" padding>
      <ion-col>
        {{item.product}}
      </ion-col>
      <ion-col>
        {{item.currentprice}}
      </ion-col>
      <ion-col>
        {{item.quantity}}
      </ion-col>
    </ion-row>
    <h4>Order Notes</h4>
    <ion-row padding>
      <p >
        {{notes}}
      </p>
      <p *ngIf="notes == ''">
        No notes
      </p>
    </ion-row>
    <ion-row padding *ngIf="status != 'open'">
     Picked  &nbsp; &nbsp; <span class="pick">{{Date  | date: 'dd/MM/yyyy' }}</span>
    </ion-row>
    <ion-row padding *ngIf="status == 'open'">
      To be Picked  &nbsp; &nbsp; <span class="pick">{{pickHour}}</span> &nbsp;:&nbsp;<span class="pick">{{pickMins}}</span> &nbsp;&nbsp;<span class="pick">{{pickDay}}</span>
     </ion-row>
  </div>
</ion-content>