.card{
    border-radius: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    
}
ion-card{
    border-radius: 15px;
}
.main-nav{
    object-position: center;
    object-fit: contain;
}
.loader {
    
    margin-top: 40%;
}
.pick{
    color: var(--ion-color-success);
}
.name{
    justify-content: center;
    text-align: center;
}
.top{
    background-color: var(--ion-color-primary);
}
.body{
    border-radius: 20px 20px 0px 0px;
    background-color: var(--ion-color-light); 
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
    
}