<ion-content>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title  color="primary">Dashboard</ion-title>
  </ion-toolbar>

  <div >
      <ion-row >
        <ion-col size="4" class="main-nav" tappable (click)="stock()">
        <ion-card class="card" padding>
          <ion-card-title>
            <ion-icon color="primary" name="pricetags"></ion-icon>
          </ion-card-title>
          <ion-card-content>
            Stock
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="main-nav" tappable (click)="sales()"> 
        <ion-card class="card" padding>
          <ion-card-title>
            <ion-icon color="primary" name="pulse"></ion-icon>
          </ion-card-title>
          <ion-card-content>
            Sales
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="main-nav" tappable (click)="orders()">
        <ion-card class="card" padding>
          <ion-card-title>
            <ion-icon color="primary" name="podium"></ion-icon>
          </ion-card-title>
          <ion-card-content>
             Orders
          </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>
  </div>

  <div>
      <ion-label style="padding-left:20px ;" color="primary">Open Oders</ion-label>
    <div  *ngIf="loader" text-center> 
      <ion-spinner class="loader" name="lines" color="primary"></ion-spinner> 
    </div>
      

      <div *ngIf="!loader" >
          <ion-card padding *ngFor="let item of Myorders "  (click)="openOrder(item,Myorders.indexOf(item))"> 
            <ion-icon name="funnel" style="float: left;" color="primary"></ion-icon><ion-label style="float: right;" color="warning">{{item.status}}</ion-label><br><br>
            <div style="text-align:start;">
              Order for {{item.products[0].product}}, {{item.products[1].product}}, {{item.products[2].product}}, {{item.products[3].product}} ...
            </div>
            <span style="float: left;bottom: 0;margin-top: 10px;">
              {{item.username}}
            </span>
            <span style="float: right;bottom:0;margin-top: 10px;">
              {{item.Date.toDate() | date: 'mm'}} Mins Ago
            </span>
          </ion-card>
      </div>
  </div>


</ion-content>
