ion-card{
    border-radius: 10px;
    
}

.details{
    
    text-align: start;
}
.img{
    object-position: center;
    object-fit: contain;
}
// FIRST CONTENT
.first-content {
    background-color: var(--ion-color-primary); 
    color: white; 
    font-size: 15px; 
    margin-left: 10px; 
    margin-right: 10px; 
    border-radius: 5px; 
    padding-top: 10px;
    ion-row {
        padding-top: 3px; 
        margin-left: 5px; 
        margin-right: 5px; 
        padding-bottom: 10px;
        .first-col {
            float: left; left: 0px;
        }
        .second-col {
            ion-icon {
                float: right; 
                right: 0px; 
                width: 18px; 
                height: 18px;
            }
        }
    }
}
// SECOND CONTENT
.second-content {
    .content-1 {
        margin-bottom: 5px; 
        font-size: 15px; 
        font-weight: bold; 
        color: #737373; 
        border-bottom: 1px solid #e4e4e4; 
        margin-left: 5px; 
        margin-right: 5px; 
        padding-top: 20px;
    }
    .content-2 {
        font-size: 13px; 
        color: #737373; 
        margin-left: 5px; 
        margin-right: 5px;
    }
}

// THIRD CONTENT
.third-content {
    h4 {
        font-size: 15px; 
        text-align: center; 
        font-weight: bold;
        color: var(--ion-color-primary);
    }
    ion-row {
        font-size: 13px; 
        margin-top: -40px; 
        margin-left: -5px; 
        color: #737373;
    }
}

// FOURTH CONTENT
.fourth-content {
    margin-top: -30px;
    .content-1 {
        h4 {
            text-align: center; 
            font-size: 15px; 
            font-weight: bold;
            color: var(--ion-color-primary);
        }
        p {
            font-size: 13px; 
            text-align: center; 
            margin-top: -7px; 
            color: #737373;
            text-align: center !important;
        }
    }
    .content-2 {
        margin-top: -15px;
        h4 {
            text-align: center; 
            font-size: 15px; 
            font-weight: bold;
            color: var(--ion-color-primary);
        }
        p {
            font-size: 13px; 
            text-align: center; 
            margin-top: -7px; 
            color: #737373;
            text-align: center !important;
        }
    }
}
// TOTAL SUM
.total {
    margin-top: -5px; 
    margin-left: -5px; 
    ion-label {
        font-size: 15px; 
        font-weight: bold; 
        color: #737373;
    }
}
