<ion-header style="background-color: #3880ff;">
  <ion-toolbar color="primary" >
    <ion-buttons (click)="close()" slot="start">
      <ion-icon name="arrow-back" size="large"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start" text-center>
      <ion-chip>
          <!-- <ion-avatar ><img src="../../assets/images/bg.png"></ion-avatar> -->
        <ion-input  [(ngModel)]="sendTo" name="sendTo"type="phone" clearInput placeholder="Type name or number"></ion-input>
      </ion-chip>
     <ion-icon (click)="pickContact()" name="person" slot="end" size="large"></ion-icon>
    
    </ion-buttons>
    
    </ion-toolbar>
</ion-header>

<ion-content  [scrollEvents]="true">
    
   
  <div class="chat" >
    <div *ngFor="let item of mychat ">
        <div class="me">
          <span class="name">
            {{item.Name}}
          </span><br>
          {{item.Message}}
        </div>
    </div>
  <div *ngFor="let chat of chats">
    <div class="you">
      {{chat.Message}}
    </div>
  </div>
</div>


    
      
    </ion-content>
    <ion-footer style="background-color: white;">
      <ion-item style="background-color: white;">
        <ion-textarea type="text" [(ngModel)]="text" placeholder="Enter message"></ion-textarea>
        <ion-button (click)="send()"  icon-only slot="end"><ion-icon name="send" ></ion-icon></ion-button>
      </ion-item>
    </ion-footer>